a{
    text-decoration: none;
}
.wrap{
    display: flex;
    justify-content: space-around;
}
.link{
    font-size: 19px;
    font-weight: 800;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    border-radius: 20px;
}
.link:hover{
    color: firebrick;
    transform: scale(1.24);
}